<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<link rel="stylesheet" href="/library_management_system/assets/css/style.css">
</head>
<body>

<h1>Library Management</h1>
<!-- <a href="index.php">Home</a> | -->
<a href="add.php">Add Book</a> |
<a href="logout.php">Logout</a>

<hr>
{% block content %}{% endblock %}

<script src="/library_management_system/assets/js/search.js"></script>
=======
    <title>Book Management System</title>

    <!-- CORRECT CSS PATH -->
    <link rel="stylesheet" href="/library_management_system/assets/css/style.css">
</head>
<body>

<h1>Book Management System</h1>
<nav>
    <a href="index.php">Home</a> |
    <a href="add.php">Add Book</a>
</nav>

<hr>

{% block content %}{% endblock %}

<!-- CORRECT JS PATH -->
<script src="/library_management_system/assets/js/search.js"></script>

>>>>>>> origin/main
</body>
</html>
